h1{
    background:black;
    color:white;
    text-align: center;
}

p{
    background: black;
    color: white
}

footer{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 5px;
}

.red{
    background: red;
    text-align: center;
    color:white;
}

.blue{
    background: blue;
    text-align: center;
    color:white;
}